/* top */

.navba{
    width: 1440px;
    height: 698px;
    background-image: url(../Assign-01/Assets/Hero-bg.png)
}
.nav{
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.primary{
    width: 132px;
    height: 48px;
    border-radius: 10px;
    padding:12px 36px;
    background-color: #4E47FF;
  border: 1px;

}
/* cool dark */
.cool{
    padding-left: 267.5px;
    padding-top: 100px;
    padding-right: 267.5px;
    padding-bottom: 221px;
}
.dark{
    align-items: center;
    text-align: center;
}

.cool-dark {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  color: #252432;
  font-size: 65px;
  font-weight: bold;
}
/* 3rd */
.primary-launch{
     width: 157px;
    height: 24px;
    border-radius: 10px;
    padding:12px 36px;
    background-color: #4E47FF;
    padding: 36px 12px;
    border: 1px;
}
.mini{
    border-radius: 40px;
    width: 403px;
    height: 328px;
}
.action{
    display: flex;
    justify-content: space-between;
}
.see{
    padding-left: 141px;
    padding-top: 50px;
    padding-right: 120px;
}
.cool-2{
    font-size: 42px;
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  color: #252432;
  font-weight: bold;
}
/* subscribe */
.card{
     border-radius:24px ;
    background-color:rgba(78, 71, 255, 0.1);
    padding-left: 149px;
    padding-right: 157px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0 4px 20px rgb(0, 0,0.1,);

}
.cool-num{
    font-size: 80px;
    color: #4E47FF;
     font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  margin-bottom: 0;
}
.number{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.user{
    gap: 50px;
}
.controler{
    text-align: center;
}
.joined{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    margin-bottom: -35px;
}
.mili{
    padding: 140px;
}
.active{
     font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
